<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>Привет, Мир!</title>
</head>
<body>
<h1>Привет, Мир!</h1>
<img src="{% static 'mtuci_lable.png' %}">
<h2>Это учебный сайт, с его помощью будут изучены технологии
    python/django, html/css.</h2>
<h3>Как видите, здесь используются заголовки различных
    уровней.</h3>
<p><h4>Здесь есть маркированный список:</h4></p>
<h4>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>
</h4>
<p><h4>И нумерованный список:</h4></p>
<h4>
    <ol>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ol>
</h4>
<p>И даже таблица:</p>
<table style="border: 2px solid black">
    <thead>
    <tr>
        <th>Столбик 1</th>
        <th>Столбик 2</th>
        <th>Столбик 3</th>
        <th>Столбик 4</th>
        <th>Столбик 5</th>
        <th>Столбик 6</th>
    </tr>
    </thead>
    <tr>
        <td>Строка 1 Столбец 1</td>
        <td>Строка 1 Столбец 2</td>
        <td>Строка 1 Столбец 3</td>
        <td>Строка 1 Столбец 4</td>
        <td>Строка 1 Столбец 5</td>
        <td>Строка 1 Столбец 6</td>
    </tr>
    <tr>
        <td>Строка 2 Столбец 1</td>
        <td>Строка 2 Столбец 2</td>
        <td>Строка 2 Столбец 3</td>
        <td>Строка 2 Столбец 4</td>
        <td>Строка 2 Столбец 5</td>
        <td>Строка 2 Столбец 6</td>
    </tr>
    <tr>
        <td>Строка 3 Столбец 1</td>
        <td>Строка 3 Столбец 2</td>
        <td>Строка 3 Столбец 3</td>
        <td>Строка 3 Столбец 4</td>
        <td>Строка 3 Столбец 5</td>
        <td>Строка 3 Столбец 6</td>
    </tr>
    <tr>
        <td>Строка 4 Столбец 1</td>
        <td>Строка 4 Столбец 2</td>
        <td>Строка 4 Столбец 3</td>
        <td>Строка 4 Столбец 4</td>
        <td>Строка 4 Столбец 5</td>
        <td>Строка 4 Столбец 6</td>
    </tr>
    <tr>
        <td>Строка 5 Столбец 1</td>
        <td>Строка 5 Столбец 2</td>
        <td>Строка 5 Столбец 3</td>
        <td>Строка 5 Столбец 4</td>
        <td>Строка 5 Столбец 5</td>
        <td>Строка 5 Столбец 6</td>
    </tr>
    <tr>
        <td>Строка 6 Столбец 1</td>
        <td>Строка 6 Столбец 2</td>
        <td>Строка 6 Столбец 3</td>
        <td>Строка 6 Столбец 4</td>
        <td>Строка 6 Столбец 5</td>
        <td>Строка 6 Столбец 6</td>
    </tr>
    <tr>
        <td>Строка 7 Столбец 1</td>
        <td>Строка 7 Столбец 2</td>
        <td>Строка 7 Столбец 3</td>
        <td>Строка 7 Столбец 4</td>
        <td>Строка 7 Столбец 5</td>
        <td>Строка 7 Столбец 6</td>
    </tr>
</table>
</body>
</html>